{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} About Jerrud {% endblock %}</h1>

<div>
    Jerrud is a seasoned technologist with a passion for building useful products and working with great teams!
    <p>
    <h4>Areas of Expertise and Interest</h4>
    ...
    </p>

    <p>
    <h4>Certifications</h4>
    ...
    </p>

    <p>
    <h4>Career Highlights</h4>
    ...
    </p>

    <p>
    <h4>References</h4>
    ...
    </p>

    <p>
    <h4>Contact Information</h4>
    Phone: 719.272.1222<br>
    Email: jrpethtel@hotmail.com<br>
    LinkedIn Profile: ...<br>
    Github: ...<br>
    Discord: ...<br>
    </p>

</div>
{% endblock %}